<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>{% block title %}NeuroForum{% endblock %}</title>

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

     {% load static %}

     <link href="{% static 'css/styles.css' %}" rel="stylesheet">

     <style>
        .alert-animated {
            animation-duration: 0.5s;
            animation-fill-mode: both;
        }

        .fade-in {
            animation-name: fadeIn;
        }

        .fade-out {
            animation-name: fadeOut;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(-20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @keyframes fadeOut {
            from {
                opacity: 1;
                transform: translateY(0);
            }
            to {
                opacity: 0;
                transform: translateY(-20px);
            }
        }
    </style>

     {% block extra_css %}{% endblock %}
     {% block extra_js %}{% endblock %}
</head>

<body>
     <!-- #MARK: Navbar -->
     <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
          <div class="container p-1">
               <a class="navbar-brand fw-bold fs-2" href={% url 'index' %}>NeuroForum</a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
               </button>

               <div class="collapse navbar-collapse" id="navbarContent">
                    <!-- #MARK: Left links -->
                    <!-- <ul class="navbar-nav me-auto">
                         <li class="nav-item">
                              <a class="nav-link" href="about.html">About</a>
                         </li>
                    </ul> -->

                    <!-- #MARK: Right links -->
                    <ul class="navbar-nav ms-auto align-items-center">
                         {% if user_info %}
                         <li class="nav-item me-3">
                              <a href={% url 'create_post_view' %} class="btn btn-primary">Create Post</a>
                         </li>
                         {% if user_info.Role == "admin" %}
                         <li class="nav-item me-3">
                            <a href="{% url 'manage_wordfilter' %}" class="btn btn-danger">Manage Filters</a>
                         </li>
                         {% endif %}
                         <li class="nav-item me-3">
                              <button id="chat-btn" class="chat-btn btn border-0 bg-transparent p-0">
                                   <img src="{% static 'icons/chat.png' %}" alt="Chat" />
                              </button>
                         </li>
                         <li class="nav-item me-2">
                              <a href={% url 'user_profile_view' %} class="d-flex align-items-center p-0">
                                   <i class="bi bi-person-square fs-1 text-muted"></i>
                              </a>
                         </li>
                         {% endif %}
                         {% if not user_info %}
                         <li class="nav-item">
                              <a href={% url 'login_view' %} class="nav-link">Login/Register</a>
                         </li>
                         {% endif %}
                    </ul>
               </div>
          </div>
     </nav>

     <div class="container mt-4">
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show alert-animated fade-in" role="alert" id="flash-message-{{ forloop.counter }}">
               {{ message }}
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          {% endif %}
          <!-- #MARK:Main Content -->
          {% block content %}{% endblock %}
     </div>

     <!-- #MARK:Footer -->
     <footer class="bg-light py-1 mt-auto shadow-sm text-center">
          <div class="container">
               <small class="text-muted">&copy; 2025 NeuroForum. All rights reserved.</small>
          </div>
     </footer>

     <!-- #MARK: Chat box -->
     <div id="chat-box-floating" class="d-none">
          <div class="chat-header">
               <span>Chat</span>
               <div>
                    <!-- <img id="toggle-sidebar" src="{% static 'icons/chat-icon.png' %}" alt="Chat" width="20" height="20" style="cursor:pointer;" class="me-2" /> -->
                    <button id="close-chat" class="close-chat">&times;</button>
               </div>
          </div>

          <div class="chat-body-wrapper d-flex">
               <div id="chat-sidebar" class="chat-sidebar p-3">
                    <h6 class="mb-2">Start New Chat</h6>
                    <form method="get" action="{% url 'start_chat' %}">
                         <input id="sidebarUsernameIframe" type="text" name="username" placeholder="Enter username" required class="form-control mb-2">
                         <button id="sidebarFindBtnIframe" type="submit" class="btn btn-find w-100">Find!</button>
                    </form>
                    <h6 class="mt-3">Existing Chats</h6>
                    <hr class="my-2" />
                    <ul class="list-unstyled" id="chat-partner-list">
                         {% for partner in chat_partners %}
                              <li>
                                   <a href="#"
                                        class="chat-thread-link"
                                        data-user="{{ partner|lower }}">
                                        {{ partner|title }}
                                   </a>

                                   <!-- <button class="btn btn-sm btn-link text-danger delete-chat"
                                             data-user="{{ partner|lower }}" title="Delete chat">
                                        &times;
                                   </button> -->
                              </li>
                         {% empty %}
                              <li class="text-white-50">No chats yet</li>
                         {% endfor %}
                    </ul>

               </div>
               <iframe id="chat-frame" class="chat-frame loading"></iframe>
          </div>
     </div>
<script src="{% static 'js/chat_init.js' %}"></script>
<script src="{% static 'js/ContentFiltering.js' %}"></script>
<script src="{% static 'js/alerts.js' %}"></script>

    {% block scripts %}{% endblock %}
    <div id="chat-overlay"></div>
</body>

</html>