{% extends 'html/base.html' %}
{% block title %}Email Verification{% endblock %}
{% block content %}
<main class="center-element">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-5">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-3 mt-2">Enter Verification Code</h2>
                        {% if error %}
                        <div class="alert alert-danger alert-dismissible alert-animated fade-in text-center" role="alert">
                            {{ error }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="code" class="form-label">Verification Code</label>
                                <input type="text" class="form-control" id="code" name="code" 
                                    pattern="\d{6}" maxlength="6" inputmode="numeric" required
                                    title="Please enter the 6-digit OTP.">
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Verify</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}