{% extends 'html/base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<main class="center-element">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-5">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-3 mt-2">Forgot Password</h2>
                        {% if error %}
                        <p class="text-danger text-center">{{ error }}</p>
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="email" class="form-label">Enter Your Registered Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="e.g. user@example.com" required>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Send OTP</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
