{% extends 'html/base.html' %}
{% load static %}

{% block title %}NeuroForum{% endblock %}

{% load static %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/ContentFiltering.js' %}"></script>
<script src="{% static 'js/ratelimit.js' %}"></script>
{% endblock %}

{% block content %}
<main>
  <div class="container my-5">
    <div class="row">
      <!-- #MARK: Left Section -->
      <div class="col-md-9">
        <!-- #MARK: Search bar -->
        <form class="mb-3" method="get" action="{% url 'search_posts' %}">
          <div class="input-group">
            <input type="text" 
                  id="searchinput"  
                  class="form-control" 
                  name="q" 
                  placeholder="Search posts..."
                  {% if rate_limited %}readonly{% endif %}>
            
            <button class="btn btn-primary" 
                    type="submit"
                    {% if rate_limited %}disabled{% endif %}>
                Search
            </button>
          </div>
        </form>

        {% if rate_limited %}
          <div class="alert alert-warning alert-dismissible fade show mt-2">
              Search temporarily disabled (too many requests). 
              <span id="countdown">{{ timeout_seconds }}</span> seconds remaining.
          </div>
        {% endif %}

        <!-- #MARK: Filter bar -->
        <form class="mb-4" method="get" action="{% url 'search_posts' %}">
          <!-- Preserve search term -->
          <input type="hidden" name="q" value="{{ search_query|default:'' }}">

          <div class="row g-2 align-items-center">
            <div class="col-sm-4">
              <select class="form-select" name="sort">
                <option value="" selected disabled>Date</option>
                <option value="newest" {% if request.GET.sort  ==  "newest" %}selected{% endif %}>Newest First</option>
                <option value="oldest"  {% if request.GET.sort  ==  "oldest"  %}selected{% endif %}>Oldest First</option>
              </select>
            </div>
            <div class="col-sm-4 d-grid">
              <button class="btn btn-outline-secondary" type="submit">Apply Filters</button>
            </div>
          </div>
        </form>

        <!-- #MARK: Posts -->
        <div class="mb-4" id="postList">
          {% for post in posts %}
          <div class="card mb-4 position-relative">
            <a class="text-decoration-none text-dark" href="{% url 'post_view' post_id=post.PostID %}">
              <div class="card-body">
                <h5 class="card-title mb-0"><b>{{ post.Title }}</b></h5>
                <small class="text-muted mt-0">@{{ post.Username }}</small>
                <p class="card-text my-2">{{ post.PostContent|truncatewords:20 }}</p>
                <small class="text-muted">
                  Posted on {{ post.Timestamp|date:"M d, Y H:i" }} • {{ post.CommentCount }} comments
                </small>
              </div>
            </a>
            <!-- #MARK: Post Dropdown Menu -->
            {% if post.UserID_id == user_info.UserID %}
            <div class="dropdown position-absolute top-0 end-0 m-2">
              <button class="border-0 bg-transparent p-0 me-2" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi bi-three-dots fs-5 text-secondary"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{% url 'edit_post_view' post_id=post.PostID %}">Edit</a></li>
                <li>
                  <form method="post" action="{% url 'process_delete_post' post_id=post.PostID %}"
                    style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item text-danger" style="border:none; background:none;">
                      Delete
                    </button>
                  </form>
                </li>
              </ul>
            </div>
            {% endif %}
          </div>
          {% empty %}
          <div class="card text-center shadow-sm mb-4 position-relative">
            <div class="card-body">
              <p class="mb-0 text-muted">No posts has been found.</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <!-- #MARK: Right Sidebar -->
      <div class="col-md-3">
        <div class="card mb-4">
          <div class="card-header">Welcome to NeuroForum!</div>
          <div class="card-body">
            <p class="card-text">
              An open space for ideas, questions, and conversations—on any topic, from anyone. Jump in, share your
              thoughts, and connect with a curious community.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- #MARK: Post Pagination -->
    {% if posts %}
    <div class="mt-3">
      <nav aria-label="Post pagination">
        <ul class="pagination justify-content-center">
          <!-- #MARK: Previous Page Link -->
          {% if previous_page %}
          <li class="page-item">
            <a class="page-link" href="?page=1&search={{ search_query }}" aria-label="First">
              <span aria-hidden="true">&#60;&#60;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ previous_page }}&search={{ search_query }}" aria-label="Previous">
              <span aria-hidden="true">&#60;</span>
            </a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="First">
              <span aria-hidden="true">&#60;&#60;</span>
            </a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&#60;</span>
            </a>
          </li>
          {% endif %}

          <!-- #MARK: Page Number Links -->
          {% for page_num in page_range %}
          <li class="page-item {% if page_num == current_page %}active{% endif %}">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
          </li>
          {% endfor %}

          <!-- #MARK: Next Page Link -->
          {% if next_page %}
          <li class="page-item">
            <a class="page-link" href="?page={{ next_page }}&search={{ search_query }}" aria-label="Next">
              <span aria-hidden="true">&#62;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ total_pages }}&search={{ search_query }}" aria-label="Last">
              <span aria-hidden="true">&#62;&#62;</span>
            </a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&#62;</span>
            </a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Last">
              <span aria-hidden="true">&#62;&#62;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
    {% endif %}
  </div>
</main>
{% endblock %}