private/sqlConfig.py
neuroforum_django/settings.py
private/ICT2216-student16.pem
.env
.dockerignore
.DS_Store
*.sh
db/
forum/__pycache__/*
forum/migrations/__pycache__/*
neuroforum_django/__pycache__/*
sonar-project.properties
