html,
body {
     margin: 0;
     padding: 0;
     height: 100%;
}

main {
     min-height: 100vh;
}

.center-element {
     display: flex;
     align-items: center;
     justify-content: center;
     overflow-x: hidden;
     min-height: 90vh;
}

#chat-box {
    height: 400px;
    overflow-y: auto;
}
